/* OLD DISCORD FONT */
@import url("https://cdn.no7he.re/fonts/Whitney/font.css");

/* OLD DISCORD ICONS */
@import url("https://repo.no7he.re/dependencies/7illa/icons.css");

/* OVERRULE DISCORD FONT */
*:not(pre, code, .shiki-container) {
    font-family: "Whitney", sans-serif !important;
}

/* HIDE PLAY AGAIN */
.scroller__99e7c > ul > .container__675e5 {
    display: none;
}

/* HIDE HELP MENU */
.toolbar_e44302 > a {
    display: none;
}

/* HIDE NAV FROM SUMMARY BAR */
.topicsPillCarets_cf58b5 {
    display: none;
}

/* BLOCK QUESTS AD IN GIFT INVENTORY */
.container_c1cce6 {
    display: none;
}

/* HIDE ICON FROM SUMMARY BAR */
.topicsPillSummaryIcon__0f481 {
    display: none;
}

/* HIDE COMMUNITY SERVER ICON */
.guildIconV2Container__85d16 {
    display: none;
}

/* HIDE BOOST SERVER ICON */
.guildIconContainer__85d16 {
    display: none;
}

/* DISPLAY NAMES IN FRIENDS */
.username__0a06e {
    font-weight: 500;
}

/* ACTIVITIES TITLE */
#uid_4531 {
    font-weight: 500;
}

/* CHANGE RADIUS ON RICH PRESENCE ICON */
.assets_c1d9fd > img {
    border-radius: .125rem;
}

/* DISPLAY NAMES IN ACTIVITIES */
.textContent_cd82a7 {
    font-weight: 500;
}

/* HIDE ACTIVITY HEADER */
.activityBiteSizePopout_c1d9fd > div:first-child {
    display: none;
}

/* CHANGE STATUS COLOUR */
.custom-profile-theme.theme-dark .statusBubbleOuter_d0a252, .custom-profile-theme.theme-dark .statusBubbleOuter_d0a252:before, .custom-profile-theme.theme-dark .statusBubbleOuter_d0a252:after {
    border: none;
}

.statusBubble_d0a252 {
    padding: .5rem .75rem;
}

/* HIDE NEW MENTIONS */
.unreadMentionsBar_ef3116 {
    display: none;
}

/* REDUCE FRIENDS LIST HEIGHT */
.scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c > ul {
    height: 100% !important;
}

/* HIDE SERVER DISCOVERY */
.stack_dbd263:nth-child(1) > :nth-child(6) {
    display: none !important;
}

/* HIDE QUEST ADS */
#library-inventory-tab > .container_c50183 {
    display: none;
}

.fade_d125d2 > ul > .wrapper_ebee1d {
    display: none;
}

.channel__972a0:nth-child(7) {
    display: none !important;
}

/* HIDE SHOP ADS */
#profile-customization-tab > .container__8279f {
    display: none;
}

/* BLOCK APP MENU */
div[class^="channelAppLauncher"] {
    display: none;
}

/* BLOCK DECORATIONS */
div[class^="profileEffects"], svg[class^="avatarDecoration"], img[class^="avatarDecoration"] {
    display: none;
}

/* HIDE NITRO TAB */
[data-list-item-id*="nitro"] {
    display: none;
}

/* HIDE SHOP TAB */
[data-list-item-id*="shop"] {
    display: none;
}

/* HIDE HELP ICONS */
[href="https://support.discord.com"] {
    display: none;
}

/* FIX GAME ACTIVITY BUTTON */
[mask="url(#gameActivityMask)"] {
    fill: oklab(0.786807 -0.0025776 -0.0110238) !important;
}

/* HIDE SERVER DISCOVERY */
[aria-label="Explore Discoverable Servers"] {
    display: none;
    width: 0;
    height: 0;
}

/* HIDE UNNECESSARY BUTTONS FROM DMS */
[aria-label^="Show User Profile"] {
    display: none;
}

[aria-label="Add Friends to DM"] {
    display: none;
}

[aria-label="Start Video Call"] {
    display: none;
}

/* HIDE GIFT BUTTON */
[aria-label="Send a gift"] {
    display: none;
}

/* HIDE ICON FROM TOPIC BAR */
[aria-label="Jump to next summary"] {
    display: none;
}

[aria-label="Jump to previous summary"] {
    display: none;
}

/* HIDE ICONS FROM SERVER BAR */
[aria-label="Hide Summaries"] {
    display: none;
}

[aria-label="Hide Member List"] {
    display: none;
}

[aria-label="Notification Settings"] {
    display: none;
}

/* FIX RADIUS ON GAME ICON */
[alt^="App icon for "] {
    border-radius: .125rem;
}

/* USER BADGES */
[aria-label="User Badges"] {
    border: none;
    background: transparent !important;
}
